<!-- app/views/compute_clusters/show.html.erb -->
<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <h1>Compute Cluster: <%= @compute_cluster.name %></h1>
      <p>Total Storage: <%= number_to_human_size(@compute_cluster.total_storage) %></p>

      <h2>VM Networks</h2>
      <% if @vm_networks.present? %>
        <ul class="list-group">
          <% @vm_networks.each do |network| %>
            <li class="list-group-item">
              <%= network.name %>
              <%= link_to "#{network.vms.count} VMs", vcenter_datacenter_compute_cluster_network_path(@vcenter, @datacenter, @compute_cluster, network) %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>No VM networks available.</p>
      <% end %>
    </div>
  </div>
</div>
