<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <h1>Welcome to the Mock UI</h1>
      <p>This is the home page of your application. Use the navigation bar to access different sections.</p>
      <hr>
      <h2>Quick Links</h2>
      <ul class="list-group">
        <li class="list-group-item">
          <%= link_to 'Manage vCenters', vcenters_path, class: 'list-group-item-action' %>
        </li>
        <li class="list-group-item">
          <%= link_to 'Add a New vCenter', new_vcenter_path, class: 'list-group-item-action' %>
        </li>
      </ul>
    </div>
  </div>
</div>

