@import "../../../node_modules/bootstrap/scss/bootstrap";

body {
  padding-top: 20px;
  background-color: #f0f0f0; /* Light gray background */
  color: #333; /* Darker text color for better readability */
}

.navbar-brand {
  font-weight: bold;
}

.jumbotron {
  background-color: #f8f9fa;
  padding: 2rem 1rem;
  margin: 0; /* Remove default margins */
}

.container-fluid {
  padding: 0; /* Remove padding */
}

.sidebar {
  background-color: rgba(139, 0, 0, 0.7); /* Darker semi-transparent red */
  height: 100vh; /* Full height */
  padding-top: 20px; /* Align with the body's top padding */
}

.sidebar .nav-link {
  color: black !important; /* Make sidebar links black */
}

.sidebar .nav-link.active {
  font-weight: bold; /* Highlight the active link */
  color: black !important;
}

.sidebar .nav-link:hover {
  color: black !important; /* Make sure hover color is also black */
}
