@import "../../../node_modules/bootstrap/scss/bootstrap"; // Use the tilde to resolve from node_modules

body {
  padding-top: 20px;
}

.navbar-brand {
  font-weight: bold;
}

.jumbotron {
  background-color: #f8f9fa;
  padding: 2rem 1rem;
}
