@import "../../../node_modules/bootstrap/scss/bootstrap";

body {
  padding-top: 20px;
}

.navbar-brand {
  font-weight: bold;
}

.jumbotron {
  background-color: #f8f9fa;
  padding: 2rem 1rem;
}

/* Custom styles for sidebar */
.sidebar {
  background-color: #fff; /* Light background color */
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); /* Red shadow */
  height: 100vh; /* Full height */
}

.sidebar .nav-link {
  color: black !important; /* Make sidebar links black */
}

.sidebar .nav-link.active {
  font-weight: bold; /* Highlight the active link */
  color: black !important;
}

.sidebar .nav-link:hover {
  color: black !important; /* Make sure hover color is also black */
}
