<!-- app/views/vcenters/new.html.erb and app/views/vcenters/edit.html.erb -->
<h1><%= action_name == 'new' ? 'New Vcenter' : 'Edit Vcenter' %></h1>

<%= render 'form', vcenter: @vcenter %>

<%= link_to 'Back', vcenters_path %>
